.container {
    width: 80%;
    margin: 10px auto;
}

.row {
    margin: 40px 0px;
}

.product {
    position: relative;
    display: inline-block;
    background-color: red;
    height: 300px;
    width: 210px;
    margin: 2px;
}








.product #heart {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: #fff;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
}

.product #discount {
    position: absolute;
    margin-right: 5px;;
    bottom: 10px;
    left: 0;
    background-color: #09ff00;
    height: 10px;
    width: 20px;
    text-align: center;
    font-size: 6px;
    color: #fff;
    font-style: bold;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

#discount::before {
    content: '-'
}

#discount::after {
    content: '%'
}

.product #sustainability {
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: #09ff00;
    height: 10px;
    width: 60px;
    text-align: center;
    font-size: 6px;
    color: #fff;
    font-style: bold;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    z-index: 0;
    
}

#brand {
    display: inline-block;
    font-size: 6px;
    padding: 0;
    margin: 0;
}

#item {
    font-size: 10px;
    padding: 0;
    margin: 0;
}

#price {
    font-size: 8px;
    padding: 0;
    margin: 0;
}

#price #red {
    font-style: bold;
    color: #000000;
    font-weight: 800;

}

#price #line-through {
    text-decoration: line-through;

}